.accountItem {
  background-color: #E8E8E8;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  width: 300px;
}

.accountIcon {
  margin: 0px 5px 5px 5px;
}

.balance {
  margin-bottom: 0px;
  color: #5ba789ff;
  font-weight: 600;
}

.name {
  margin-top: 3px;
}

@media screen and (max-width: 768px) {
  .accountItem {
    width: 100%;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px){
  .accountItem {
    width: 49%;
    margin-right: 0px;
  }
}
