.categoryRow {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr 1fr 1fr;
}

.categoryHeader{
  color: black;
  background-color: #E8E8E8;
  font-weight: bolder;
  padding: 7px;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 20px;
}

.red {
  background-color: #ffc2b3;
  padding: .2em .7em;
  border-radius: 10rem;
}

.green {
  background-color: #cde4db;
  padding: .2em .7em;
  border-radius: 10rem;
}
