.categoryRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.red {
  background-color: #ffc2b3;
  padding: .2em .7em;
  border-radius: 10rem;
}

.green {
  background-color: #cde4db;
  padding: .2em .7em;
  border-radius: 10rem;
}
  