@keyframes coinFall {
  100% {
    top: 70%;
    left: 48%;
  }
}

.coin {
  position: fixed;
  top: -65px;
  width: 60px;
  height: 60px;
  background-color: #FCD116	;
  border: solid 10px #FCDC3B;
  color: #FCDC3B;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  z-index: 10;
  border-radius: 50%;
  animation-name: coinFall;
  animation-duration: 1500ms;
}

@media screen and (max-width: 960px) {
  @keyframes coinFall {
    100% {
      top: 70%;
      left: 46%;
    }
  }
  .coin {
    width: 45px;
    height: 45px;
    font-size: 40px;
  }
}