@keyframes heroAppear {
  from {margin-top: 100%; opacity: .1;}
  to {opacity: 1;}
}

.hero {
  width: 60%;
  margin: 0 auto;
  margin-top: 15%;
  animation-name: heroAppear;
  animation-duration: 2s;
}

.headline {
  font-size: 100px;
  font-family: Helvetica;
  font-weight: 900;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 55px;
  }
  .hero {
    margin-top: 25%;
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px){
  .headline {
    font-size: 75px;
  }
}
