@keyframes movePiggy {
  100% {
    bottom: 100%;
  }
}

.piggy {
  width: 70%;
  position: fixed;
  right: 15%;
  left: 15%;
  bottom: 0;
  animation-name: movePiggy;
  animation-delay: 4500ms;
  animation-duration: 2s;
}

.belly {
  z-index: 11;
}

@media screen and (max-width: 960px) {
  .piggy {
    width: 100%;
    right: 0;
    left: 0;
    bottom: 10%;
  }
}
