html {
  font-size: 14px;
  font-family: Helvetica Neue;
  font-weight: 300;
}

body {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-top: 80px;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 100;
  color: black;
}

h2 {
  font-weight: lighter;
}

h3 {
  color: #5ba789ff;
}

a {
  text-decoration: none;
}

button {
  padding: 14px;
  background-color: #5ba789ff;
  color: white;
  font-weight: lighter;
  font-size: 1.1rem;
  width: 190px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #5ba789ff;
}

button:hover{
  background-color: white;
  color: #5ba789ff;
}

.transactionButton {
  margin-top: 2px;
  background-color: #5ba789ff;
  color: white;
  border: solid 1px white;
  padding: 10px;
  width: 120px;
}

.container {
  padding: 50px 75px;
}

.form {
  background-color: #F0F0F0;
  padding: 2rem 4rem 2rem 3rem;
  width: 450px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  text-align: center;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100,100,100,.5);
  z-index: 101;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: left;
  margin-bottom: 20px;
}

label {
  margin-top: 3px;
  font-size: 1.3rem;
  text-align: right;
  padding-right: 20px;
}

input {
  width: 94%;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  border-style: none;
  background-color: white;
}

.dropdown {
  margin-bottom: 25px;
  border: solid 1px	#D0D0D0;
}

.close {
  font-size: 1.5rem;
  color: black;
  position: absolute;
  top: 5px;
  right: 15px;
  font-weight: lighter;
}

.close:hover {
  color: gray;
}

hr {
  border: 0;
  border-top: 1px solid	#D3D3D3;
}
